.VRglasses {
    background-image: url("../public/glassesImage/background.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.title {
    background-color: rgba(0, 0, 0, 0.485);
}
img {
    cursor: pointer;
}
.imgModel {
    border-radius: 8px;
}
.nonameCon {
    position: relative;
}
.glassModel {
    position: absolute;
    top: 145px;
    left: 400px;
}
.glassModelImage {
    width: 250px;
}
.glassDetail {
    position: absolute;
    width: 45%;
    min-height: 20%;
    bottom: 0px;
    left: 289px;
    background-color: rgba(165, 42, 42, 0.46);
    padding: 5px 10px 0px 10px;
    color: white;
    transition: all .5s ; 
    opacity: 0;
}